.votes
  position relative
.arrow
  position relative
  left 55px
  bottom 18px
  cursor pointer
.upvote
  width 0
  height 0
  border-left 10px solid transparent
  border-right 10px solid transparent
  border-bottom 10px solid #337ece
  position relative
  bottom 25px
.downvote
  width 0
  height 0
  border-left 10px solid transparent
  border-right 10px solid transparent
  border-top 10px solid #337ece
  position relative
  bottom 10px
// @media (min-width: 992px)
//   .votes
//     .arrow
//       left 85px