.Tab
  background #ebebeb
  height 100%
  margin 1px 1px 0 0
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  p
    color #777777
  .logo
    border-radius 50%
    margin 20px 20px 0 20px
  .foot
    padding: 5px 0 10px 0
    font-size 0.8em
    border-top 1px solid #777
  .counter
    padding: 50% 0 0 0
    & + .foot
        font-size 1em
        border none
@media (min-width: 768px)
  .logo
    width 4em