@font-face {
  font-family: Varta;
  font-style: normal;
  src: url("./assets/fonts/Varta-Regular.ttf"),
       url("./assets/fonts/Varta-Bold.ttf")
       url("./assets/fonts/Varta-Light.ttf")
       url("./assets/fonts/Varta-SemiBold.ttf");
}

@font-face {
  font-family: Topaz;
  font-style: normal;
  src: url("./assets/fonts/topaz.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 227, 168)
}